*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme:light dark;

	/* kleur */
	--color-text: light-dark(#111, #eee);
	--color-text2: #6e6c69;
	--color-text3: light-dark(#eee, #111)

	--color-background:light-dark(#fff, #111);
	--color-background2:light-dark(#F0EEE6, rgb(30, 30, 60));
	--color-background3: #dcdcdc;

	/* font */
	--font-p: 'Inter', sans-serif;
  	--font-h1: 'Inter', sans-serif;
  	--font-h2: 'Inter', sans-serif;
	--font-h3: 'inter', sans-serif;
	--font-nav: 'Inter', sans-serif;

	--button-color: red;
	--button-background: blue;

}

html:has(.toonMenu) {
	overflow:hidden;
}

/* basic */

body {
	background-color: var(--color-background);
	margin:0;
	color:var(--color-text);
}

h1 {
	visibility: hidden;
}

h2 {
	color: var(--color-text);
	font-family: var(--font-h2)
}

p {
	color: var(--color-text);
	font-family: var(--font-p);
}

a {
	font-family: var(--font-nav);
}

/* tekstje bovenin */
body h2:nth-of-type(1){
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	background-color: var(--color-background2);
	text-transform: uppercase;
	text-align: center;
}

/* header----------------------------------------------------------------------------------------------------- */
button:not(disabled) {
	cursor:pointer;
  }

  header {
	min-height:4em;
	padding:0 1em;
	background-color: var(--color-background);
	line-height:1;
	width: 100%;
	display:flex;
	/* flex-wrap: wrap; */
	justify-content:space-between;
	align-items:center;
	
	position:sticky;
	top:0;
  }

/* hamburger open knop */
header button:nth-of-type(1) {
	order: -1;
	border: none;
	padding-right: 1em;
	background-color: var(--color-background);
}

/* logo freshcotton */
  header > a:nth-of-type(1) {
	display:grid;
	grid-template-columns:min-content min-content;
	grid-gap:.25em;
	margin-right: auto;
}

  header a:nth-of-type(2){
	width:auto;
  	height:2em;
  }

/* 3 icons in header rechts */
/* header ul:nth-of-type(2) {
	list-style-type: none;
	display:flex;
	flex-wrap: wrap;
  	justify-content:end;
	text-decoration: none;
} */

/* items rechtsboven */
header ul {
	list-style: none;
	font-display: none;
}

header ul li {
	display: inline;
}

header ul:nth-of-type(2) li {
	display: grid;
}

/* zoekbalk */
header input {
	width: 100vw;
}


  nav a {
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items:center;
	column-gap:.25em;
	text-decoration: none;
	border-bottom:solid 1px var(--menu-border);
  }
  
  nav ul {
	list-style: none;
	padding-left: 1em;
  }

  nav ul li {
	padding: 1em;
  }

  nav a img {
	width:auto;
	height:2em;
  }
  
  nav a.active {
	font-weight:bold;
  }

  nav {
	background-color: var(--color-background);
	padding:1em;
	display:grid;
	align-content:start;
	gap:1em;
	
	/* JOUW CODE HIER - stap 1 */
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	/* JOUW CODE HIER - stap 2 */
	translate:-100% 0%;
	
	/* JOUW CODE HIER - stap 4 */
	transition:translate .3s;
  }
  
  /* als menu open is */
  nav.toonMenu {
	/* JOUW CODE HIER - stap 4 */
	translate:0% 0%;
  }

  input[type="text"] {
    font-family: var(--font-p);
	background-color: var(--color-background3);
	border: none;
	padding: 0.75em;
	color: var(--color-text2);
	
}
/* carousel 1 ----------------------------------------------------------------------------------------------------- */

/* lijst zelf */
section:first-of-type ul{
	display: flex;
	padding-left: none;
	overflow-x:auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain auto;
}

/* li items */
section:first-of-type ul li{
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding-right: 1em;
	/* position:relative; */
}

section:first-of-type ul li img{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	display: inline;
	/* max-width: 100%; */
	width: 15em;
  	height:30em;
  	object-fit:cover;
 	/* display:block; */
	/* position: absolute; */
}

section:first-of-type ul li h2{
	/* grid-row-start: 2; */
  	/* align-self:end; */
	color: var(--color-text3);
	position: absolute;
}

section:first-of-type ul li p{
	/* grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 2; */
	position:absolute;
	color: var(--color-text3);
	max-width: 100%;

}

section:first-of-type ul li a{
	/* grid-row-start: 4; */
	position:absolute;
}


/* carousel 2 ----------------------------------------------------------------------------------------------------- */
section:nth-of-type(2){
	background-color: var(--color-background2);
	padding-left: 1em;
}

section:nth-of-type(2) h2{
	font-size: 1.5em;
	text-align: left;
	padding: 0;
	padding-top: 4em;
}

section:nth-of-type(2) ul{
	width: 100%;
	display: flex;
	gap: 1em;
	overflow-x:auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain auto;
	padding-left: 0;
}

section:nth-of-type(2) ul li h3{
	list-style-type: none;
	font-family: var(--font-h3);
	font-size: 0.75em;
	text-decoration: none;
	list-style: none;
}

section:nth-of-type(2) ul li{
	position:relative;
	display: grid;
	/* grid-template-columns: 2em 2em 2em;
	grid-template-rows: 2em 5em 5em; */
	/* grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr; */
}

/* logo's */
section:nth-of-type(2) ul li ul{
	display: flex;
}

/* tekstje */
section:nth-of-type(2) ul li p{
	background-color: var(--color-background2);
	color: var(--color-text2);
}

/* afbeelding */
section:nth-of-type(2) ul li img{
	width: 100%;
	display:block;
  	height:auto;
	object-fit:cover;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}

section:nth-of-type(2) ul li button{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}